body {
	background : var(--theme-background);
	color : var(--theme-foreground);
	font-family : var(--theme-font);
	padding : 0px;
	margin : 0px;
	font-size: 1.2em;
}

a {
	color : var(--theme-accent);
}

a :visited {
	color : var(--theme-accent);
}

bar {
	display : block;
	height : 5px;
	width : 300px;
	background : var(--theme-foreground);
	transition : box-shadow 0.1s;
	box-shadow : calc(300px * var(--lv)) 0px 0px inset var(--theme-accent);
}

h1,h2,h3,h4,h5,h6 {
	font-weight : bold;
	display: inline-flex;
	align-items: center;
}

middle {
	display : flex;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	text-align : center;
	align-items : center;
	flex-direction : column;
}

button {
	padding : 10px;
	padding-inline : 15px;
	cursor : pointer;
	font-family : var(--theme-font);
	border : none;
	background-color : var(--theme-accent);
	color : var(--theme-foreground);
	font-size: 1em;
}

header {
	display : flex;
	position : absolute;
	top : 0%;
	left : 50%;
	transform : translate(-50%, 0);
	align-items : center;
	flex-direction : row;
	padding : 0px;
}

header>* {
	margin : 10px;
}

footer {
	display : flex;
	position : absolute;
	bottom : 0%;
	left : 50%;
	transform : translate(-50%, 0);
	align-items : center;
	flex-direction : row;
	padding : 0px;
}

footer>* {
	margin : 10px;
}

*[ico]
{
	height : 60px;
	padding-right : 10px;
}