body {
	background : var(--theme-background);
	color : var(--theme-foreground);
	font-family : var(--theme-font);
	padding : 0px;
	margin : 0px;
}

a {
	color : var(--theme-accent);
}

a :visited {
	color : var(--theme-accent);
}

bar {
	display : block;
	height : 5px;
	width : 300px;
	background : var(--theme-foreground);
	transition : box-shadow 0.1s;
	box-shadow : calc(300px * var(--lv)) 0px 0px inset var(--theme-accent);
}

h* {
	font-weight : bold;
}

middle {
	display : flex;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	text-align : center;
	align-items : center;
	flex-direction : column;
}

button {
	padding : 10px;
	padding-inline : 15px;
	font-family : var(--theme-font);
	border : none;
	background-color : var(--theme-accent);
	color : var(--theme-foreground);
	font-weight : bold;
}

header {
	display : flex;
	position : absolute;
	top : 0%;
	left : 50%;
	transform : translate(-50%, 0);
	align-items : center;
	flex-direction : row;
	padding : 0px;
}

header>* {
	margin : 10px;
}

footer {
	display : flex;
	position : absolute;
	bottom : 0%;
	left : 50%;
	transform : translate(-50%, 0);
	align-items : center;
	flex-direction : row;
	padding : 0px;
}

footer>* {
	margin : 10px;
}