bar {
	display : block;
	height : 5px;
	width : 300px;
	background : var(--theme-foreground);
	transition : box-shadow 0.1s;
	box-shadow : calc(300px * var(--lv)) 0px 0px inset var(--theme-accent);
}

div[panel] {
	position : absolute;
	top : 0px;
	left : 0px;
	bottom : 0px;
	right : 0px;
	display : flex;
}

div[fullscreen] {
	position : absolute;
	top : 0px;
	left : 0px;
	bottom : 0px;
	right : 0px;
}

#sidebar {
	width : 15em;
	background-color : var(--theme-dark);
	color : var(--theme-light);
	display : flex;
	flex-direction : column;
	align-items : stretch;
	padding : 0px;
}

#sidebar>#details {
	display : flex;
	flex-direction : column;
	align-items : center;
	margin : 20px;
}

#sidebar>#details>* {
	margin : 0px;
}

#sidebar>#nav {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

#sidebar>#nav>* {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	margin-bottom : 1px;
}

#workspace {
	width : calc(100vw - 15em);
	background-color : var(--theme-foreground);
	color : var(--theme-background);
	padding : 0px;
	display : flex;
	flex-direction : column;
}

#workspace>* {
	display : flex;
	flex-direction : column;
}

#header {
	display : flex;
	flex-direction : row;
	padding : 20px;
	background-color: var(--theme-sec);
	color: var(--theme-light);
}

#header>input {
	background-color: var(--theme-sec);
	color: rgb(78, 85, 102);
	border : 0px;
	font-size : 20px;
	margin : 10px;
	font-family: var(--theme-font);
}

#header>input:focus {
	outline : none;
}


#beta-warn {
	display : flex;
	flex-direction : column;
	padding : 20px;
	font-size: 0.8em;
}

#segment {
	border : 1px solid var(--theme-sec);
	margin : 20px;
	padding : 20px;
	display : flex;
	flex-direction : column;
}

#segment>span {
	display : flex;
	flex-direction : row;
	align-items: center;
	justify-content: space-between;
}

h1 {
	margin : 0px;
}

.loi {
	padding : 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.user-card-mini {
	cursor: pointer;
	margin : 15px;
	padding : 20px;
	display: inline-flex;
	background-color: var(--theme-sec);
	flex-direction: column;
	align-items: center;
	border-radius : 10px;
	box-shadow: 0px 0px 5px #0005;
	color : var(--theme-light);
}

.user-card-mini>button {
	margin : 10px;
	box-shadow: 0px 0px 5px #000a;
}

.document {
	width : 70%;
	text-align: left;
}